# Ignore bin files
**/*.out

# Ignore books

**/books/*

# Ignore scripts files

**/scripts/
!**/.github/**/scripts/

# Ignore compiled files

**/*.o
**/main

# Ignorecustom test files

**/zmytest/

# Ignoring vscode settings

**/.vscode
